<% if (message) { %>
<script>
  Swal.fire({
    title: 'Berhasil !',
    text: '<%= message %>',
    icon: 'success'
  })
</script>
<% } %>
<div class="container">
  <div class="header">
    <h2>Data Barang</h2>
  </div>
  <div class="row">
    <div>
      <button onclick="location.href='/barang/insert'" type="button" class="btn primary"><i class="fa-solid fa-plus"></i> Tambah</button>
    </div>
    <table id="example" class="stripe" style="width:100%">
      <thead>
        <tr>
          <th>No</th>
          <th>Nama Barang</th>
          <th>Jumlah</th>
          <th>Harga Satuan</th>
          <th>Kadaluarsa</th>
          <th>&nbsp</th>
        </tr>
      </thead>
      <tbody>
        <% barang.forEach((row, no) => {no++ %>
        <tr>
          <td>
            <%= no %>
          </td>
          <td>
            <%= row.nama_barang %>
          </td>
          <td>
            <%= row.jumlah %>
          </td>
          <td>
            <%= row.harga_satuan %>
          </td>
          <td>
            <%= row.expire_date ? new Date(row.expire_date).toISOString().slice(0, 10) : '' %>
          </td>
          <td><a href="/barang/edit/<%= row.barang_id %>"><i class="fa-solid fa-pen-to-square"></i>
              Edit</a></td>
        </tr>
        <% }) %>
      </tbody>
    </table>
  </div>
</div>